@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

svg
{
	width: 10%;
	height: 10%;
	color: #E09E04;
}

li
{ 
list-style: none }

.bleu
{
	color: blue;
}

nav
{
	border: none;
}

.footer
{
	height: 200px;
	width: 100%;
}

.svg
{
	width: 50%;
	height: 50%;
}



.liens
{
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.putain
{
	margin: 10px;
	position: relative;
	bottom: 30px;
}

.icons
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ico
{
	margin: 15px;
	position: relative;
	bottom: 120px;
}

.mentions
{
	text-align: center;
	position: relative;
	bottom: 120px;
}

.logo
{
	display: flex;
	justify-content: center;
	position: relative;
	top: 20px;
}

.total
{
	width: 400px;
	margin: 20px;
}


.form
{
	animation: bgani 5s infinite alternate;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes bgani
{
	0%
	{
		background-color: #6C6352
	}

	20%
	{
		background-color: #776D5A;
	}

	40%
	{
		background-color: #987D7C;
	}

	60%
	{
		background-color: #A09CB0;
	}

	80%
	{
		background-color: #A3B9C9;
	}

	100%
	{
		background-color: #ABDAE1
	}
}

.form_co
{
	animation: bgani2 5s infinite alternate;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes bgani2
{
	0%
	{
		background-color: #CA6141
	}

	20%
	{
		background-color: #DE6B48;
	}

	40%
	{
		background-color: #E5B181;
	}

	60%
	{
		background-color: #F4B9B2;
	}

	80%
	{
		background-color: #DAEDBD;
	}

	100%
	{
		background-color: #7DBBC3
	}
}

.gif
{
	width: 100%;
	z-index: 1;
}





.titre
{
	z-index: 2;
	position: relative;
	top: 550px;
	display: flex;
	justify-content: center;
	font-size: 3.6em;
	color: #FE1354;
	font-family: 'Raleway', sans-serif;
	animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }


.cards
{
	width: 400px;
	height: 450px;
	border-radius: 0px 20px 0px 20px;
	border: 1px solid black;
	overflow: hidden;
	padding: 0px;
}

.page2
{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.haut
{
	width: 100%;
	height: 40%;
	border: 1px solid black;
	border-radius: 0px 20px 0px 0px;
	

	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page3
{
	width: 100%;
	height: 150vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}


.carte
{
	width: 80%;
	height: 1000px;
	background-color: white;
	position: relative;
	bottom : 200px;
	border-radius: 0px 50px 0px 50px;
}

.top
{
	width: 100%;
	height: 30%;
	background-image: url(img/party.png);
	border-radius: 0px 50px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.emma
{
	font-size: 4em;
	font-weight: 100;
	color: white;
}

.bas
{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.cadre1
{
	width: 48%;
	height: 45%;
	border: 1px solid black;
	border-radius: 0px 20px 0px 20px;
}

.topcadre
{
	width: 100%;
	height: 40%;
	background-color: black;
	border-radius: 0px 20px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bascadre
{
	width: 100%;
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.bascadre h2, form
{
	width: 100%;
	margin: 0px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 15px;
}

.wow
{
	width: 100%;
	position: relative;
	top: 20px;
}

.yenamar
{
	width: 100%;
	position: absolute;
	bottom: 200px;
	right: 0px;
}